img {
  width:300px;
  height:100px;
  margin-top:-70px;
  padding-right:10px;
}
#p1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
}
p {
    text-align:center;
    padding-top:80px;
    font-size:35px;
}
div {
   border:2px solid;
   border-color: blue;
   border-width: 
}